/* .main-header{
    z-index: -100;
    position: fixed;
    height: 657px;
    width: 1349px;
} */
.pt-100 {
    padding-top: 100px;
  }

  .form-area input {
    padding: 15px;
  }
  
  .form-area input, .form-area textarea {
    border-radius: 0;
    font-size: 12px;
  }
  
  .form-area textarea {
    height: 180px;
    margin-top: 0px;
  }
  
  .footer-area {
    background-color: #222;
  }
  
  .footer-area h4 {
    padding-bottom: 30px;
  }
  
  .footer-area .number {
    color: #fab700;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
  }
  
  .footer-area .genric-btn.arrow span {
    padding: 12px 0px;
    width: 16px;
    margin-left: 0px;
  }
  
  .footer-area .primary-btn {
    background-color: #fab700;
  }
  
  .footer-area .primary-btn:hover .lnr {
    color: #fab700;
  }
  
  .footer-area .footer-bottom a {
    color: #fab700;
  }
  
  .footer-area .footer-bottom .footer-social {
    text-align: right;
  }
 .mt-60{
      margin-top: 65px;
  }
  
  .footer-area .footer-bottom .footer-social a {
    background: #111111;
    margin: 2px;
    padding: 12px 16px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .footer-area .footer-bottom .footer-social a:hover {
    background-color: #fab700;
  }
  
  .footer-area .footer-bottom .footer-social i {
    color: #cccccc;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  @media (max-width: 991.98px) {
    .footer-area .footer-bottom .footer-social {
      text-align: left;
    }
  }
  
  @media (max-width: 768px) {
    .footer-area .footer-bottom .footer-social {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-area .single-footer-widget .newsletter .primary-btn {
      right: 2% !important;
      width: auto;
      right: 0;
      top: 5px;
      transform: translate(0%, 0);
    }
  }
  
  .single-footer-widget .navbar-form {
    width: 100%;
  }
  
  .single-footer-widget .navbar-form .form-control {
    border: none;
    border-radius: 20px;
    font-size: 13px;
  }
  
  .single-footer-widget .navbar-form .add-on {
    background: #fff;
    border-radius: 20px;
  }
  
  .single-footer-widget .navbar-form .genric-btn:hover {
    background-color: #fab700;
  }
  
  .single-footer-widget .navbar-form .genric-btn:hover .lnr {
    color: #222;
  }
  
  .single-footer-widget .navbar-form .lnr {
    font-weight: 900;
    font-size: 18px !important;
    color: #222;
  }
  .single-footer-widget p{
      color: #ffffff;
  }
  
  .whole-wrap {
    background-color: #fff;
  }
  
  .generic-banner {
    background-color: #fab700;
    text-align: center;
  }
  
  .generic-banner .height {
    height: 600px;
  }
  
  @media (max-width: 767.98px) {
    .generic-banner .height {
      height: 400px;
    }
  }
  
  .generic-banner .generic-banner-content h2 {
    line-height: 1.2em;
    margin-bottom: 20px;
  }
  
  @media (max-width: 991.98px) {
    .generic-banner .generic-banner-content h2 br {
      display: none;
    }
  }
  
  .generic-banner .generic-banner-content p {
    text-align: center;
    font-size: 16px;
  }
  
  @media (max-width: 991.98px) {
    .generic-banner .generic-banner-content p br {
      display: none;
    }
  }
  
  .generic-content h1 {
    font-weight: 600;
  }
  
  .about-generic-area {
    background: #fff;
  }
  
  .about-generic-area p {
    margin-bottom: 20px;
  }
  
  .white-bg {
    background: #fff;
  }
  
  .section-top-border {
    padding: 70px 0;
    border-top: 1px dotted #eee;
  }
  
  .switch-wrap {
    margin-bottom: 10px;
  }
  
  .switch-wrap p {
    margin: 0;
  }
  